.filter-bar {
     padding: 0px 20px 10px 20px;
    background: #828bb3;
 }
.filter-bar a{
    color: #000;
}
  
  .main-categories a {
    color: #000; }
  

  
  .sorting {
    margin-top: 10px;
    margin-right: 10px; }
    .sorting .nice-select {
      border-radius: 0px;
      border: 1px solid #eee;
      padding-right: 50px; }
      .sorting .nice-select:after {
        right: 18px; }
      .sorting .nice-select .list {
        border-radius: 0px; }
  
  .pagination {
    margin-top: 20px;
    border-left: 1px solid #eee;
    border-radius: 0px;
}

.sidebar-categories .head {
    line-height: 60px;
    background: #828bb3;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 400;
    color: #fff; }
  .sidebar-categories .main-categories {
    padding: 0 20px;
    background: #fff;
    box-shadow: 0 10px 10px rgba(153, 153, 153, 0.1); }
  .sidebar-categories .main-nav-list a {
    font-size: 14px;
    display: block;
    line-height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #eee; }
    .sidebar-categories .main-nav-list a:hover {
      color: #ffba00; }
    .sidebar-categories .main-nav-list a .number {
      color: #cccccc;
      margin-left: 10px; }
    .sidebar-categories .main-nav-list a .lnr {
      margin-right: 10px;
      display: none; }
  .sidebar-categories .main-nav-list.child a {
    padding-left: 32px; }
  
  .sidebar-filter {
    margin-top: 50px; }
    .sidebar-filter .top-filter-head {
      line-height: 60px;
      background: #828bb3;
      padding: 0 30px;
      font-size: 16px;
      font-weight: 400;
      color: #fff; }
    .sidebar-filter .head {
      line-height: 60px;
      padding: 0 30px;
      font-size: 14px;
      font-weight: 700;
      color: #222222;
      text-transform: uppercase;
      margin-top: 5px; }
    .sidebar-filter .common-filter {
      border-bottom: 1px solid #eee;
      padding-bottom: 25px; }
      
  
    
  
  
  .pixel-radio {
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    transition: all 0.15s ease-out 0s;
    background: #fff;
    border: 1px solid #eee;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    outline: none;
    position: relative;
    z-index: 1; }
  
  .pixel-radio:checked {
    border: 7px solid #ffba00; }
  
  .pixel-radio:checked::after {
    animation: click-wave 0.65s;
    background: #ffba00;
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    opacity: 0; }
  
  .pixel-radio {
    border-radius: 50%;
    top: 6px; }
  
  .pixel-radio::after {
    border-radius: 50%; }
  
  .price-range-area {
    padding: 30px 30px 0 30px; }
    .price-range-area .noUi-target {
      background: #eee;
      border-radius: 0px;
      border: 0px;
      box-shadow: none; }
    .price-range-area .noUi-horizontal {
      height: 6px; }
    .price-range-area .noUi-connect {
      background: #eee;
      border-radius: 0px;
      box-shadow: none; }
    .price-range-area .noUi-horizontal .noUi-handle {
      width: 16px;
      height: 16px;
      left: -8px;
      top: -5px;
      border-radius: 50%;
      border: 0px;
      background: #ffba00;
      box-shadow: none;
      cursor: pointer;
      transition: ease 0.1s; }
      .price-range-area .noUi-horizontal .noUi-handle:focus {
        outline: none; }
      .price-range-area .noUi-horizontal .noUi-handle:hover {
        border: 3px solid #ffba00;
        background: #fff; }
    .price-range-area .noUi-handle::after, .price-range-area .noUi-handle::before {
      display: none; }
    .price-range-area .value-wrapper {
      margin-top: 20px;
      color: #cccccc; }
      .price-range-area .value-wrapper .to {
        margin: 0 5px; }
    .price-range-area .price {
      margin-right: 5px;
      color: #777777; }

.priceRegular{
    text-decoration: line-through;
    font-size: 13px;
    color: gray;
}
.priceSale{
    font-weight: bold;
    color: #e53935;
    margin-right: 12px;
}
.card-title{
    font-weight: 400;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#price{
    margin-top: 30px;
    margin-left: 0px;
}
.card-img-top{
    height: 240px;
}
.pagination{
    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#vote-star{
    color: rgb(252, 225, 74);
}
.voting{
    margin-left: 13px;
}
.vote-text{
    margin-bottom: 10px;
}